[Unit]
Description=Outdoor Kitchen Flask APP

[Service]
Type=simple
ExecStart=/usr/bin/sudo /bin/bash /opt/outdoor_kitchen/run.sh

[Install]
WantedBy=multi-user.target
